.cart-container {
    max-width: 90%;
    height: auto;
    margin: 20px auto;
    padding: 15px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
}
  
.title-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-container > h4 {
    max-width: 25%;
}

.items-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0 20px;
}

.items-container > p{
    max-width: 25%;
    width: 25%;
    font-size: small;
}

