.cart-container {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
  }
  
.cart-title,
.cart-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    border-bottom: 2px solid lightblue;
    font-size: 1rem;
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
    height: auto;
}
  
.cart-title div,
.cart-items div {
    flex: 1;
    text-align: left;
    font-size: 0.9rem;
}
  
.cart-title p,
.cart-items p {
    flex: 1;
    text-align: center;
}
  
.remove-btn-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    flex: 1;
}
  
.remove-btn {
    border: none;
    background-color: white;
    cursor: pointer;
    color: red;
    font-size: 0.9rem;
}
  
@media (min-width: 768px) {
    .cart-container {
      max-width: 80%;
      margin: 0 auto;
}
  
.cart-title,
.cart-items {
      padding: 0 20px;
      height: 5rem;
}
  
.cart-title p,
.cart-items p {
      font-size: 1rem;
}
}
  