.information-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
}

.image-container{
    width: 65%;
    display: flex;
    justify-content: center;
}

.image-information{
    width: 100%;
}

.item-informations{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.type-name{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-top: 20px;
}

.title{
    display: flex;
    justify-content: center;
    width: 70%;
    margin-top: 20px;
}