.information-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
}

.image-container{
    width: 65%;
    display: flex;
    justify-content: center;
}

.image-information{
    width: 100%;
}

.item-informations{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.type-name{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-top: 20px;
}

.title{
    display: flex;
    justify-content: flex-start;
    width: 80%;
    margin-top: 20px;
}

.star-review{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.type-name > button{
    width: 40%;
}


@media (min-width : 600px){
    .information-container{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin-top: 50px;
        width: 100%;
    }
    
    .image-container{
        width: 35%;
        display: flex;
        justify-content: center;
    }
    .image-information{
        width: 80%;
    }

    .item-informations{
        width: 45%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .type-name{
        display: flex;
        justify-content: space-between;
        width: 80%;
        margin-top: 20px;
    }
    
    .title{
        display: flex;
        justify-content: flex-start;
        width: 80%;
        margin-top: 20px;
    }
    
    .star-review{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    

    .type-name > button{
        width: 100%;
    }


}