.nav-container{
    background-color: white;
    box-shadow: 10px 0 -10px 10 rgb(black, black, black , 0.1);
}

.nav-menu{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-li{
    height: 50px;
}

.link{
    height: 100%;
    padding: 0 30px;
    display: flex;
    align-items: center;
}

.link:hover{
    background-color: lightgray;
}

.nav-option:first-child{
    margin-right: auto;
}


.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: white;
    box-shadow: -10px 0 10px rgb(black, black, black , 0.1);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
